numpy
tqdm
pandas
geopy>=2.4.1
pillow>=11.1.0
requests>=2.32.3
folium>=0.19.5
openai>=1.68.2
google-cloud-vision>=3.10.1
google-genai>=1.8.0
scikit-learn>=1.6.1
plotly>=6.0.1
nbformat>=5.10.4
ultralytics>=8.3.98
fastapi
uvicorn
python-multipart
streamlit-aggrid
streamlit-folium
python-dotenv